@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Background Colors */
  --background: #ffffff;
  --background-secondary: #f2f2f2;
  --background-tertiary: #e4e4e4;
  
  /* Text Colors */
  --foreground: #000000;
  --foreground-secondary: #5f5f5f;
  --foreground-tertiary: #919191;
  
  /* Border Colors */
  --border: #d4d3d3;
  --border-secondary: #e4e4e4;
  
  /* Blue Colors */
  --blue-05: #f0f7ff;
  --blue-10: #dbeeff;
  --blue-20: #bddbff;
  --blue-30: #93beff;
  --blue-40: #6da5fa;
  --blue-50: #497cff;
  --blue-60: #3a5cf3;
  --blue-70: #274ae1;
  --blue-80: #1530a6;
  --blue-90: #0b2184;
  
  /* Gray Colors */
  --gray-white: #ffffff;
  --gray-05: #f2f2f2;
  --gray-10: #e4e4e4;
  --gray-20: #d4d3d3;
  --gray-30: #c7c7c7;
  --gray-40: #ababab;
  --gray-50: #919191;
  --gray-60: #777777;
  --gray-70: #5f5f5f;
  --gray-80: #333333;
  --gray-90: #1c1c1c;
  --gray-black: #000000;
  
  /* Red Colors */
  --red-05: #fdd7dc;
  --red-10: #f797a4;
  --red-20: #f4677a;
  --red-30: #f03851;
  --red-40: #e4112e;
  --red-50: #b40e24;
  --red-60: #850a1b;
  
  /* Green Colors */
  --green-05: #d3f3e0;
  --green-10: #92e6b9;
  --green-20: #15d66f;
  --green-30: #12b75f;
  --green-40: #109c51;
  --green-50: #0e723c;
  --green-60: #084424;
  
  /* Yellow Colors */
  --yellow-05: #ffe499;
  --yellow-10: #ffd666;
  --yellow-20: #ffc933;
  --yellow-30: #ffb300;
  --yellow-40: #eba500;
  --yellow-50: #d69600;
  --yellow-60: #b27d00;
  
  /* Cool Gray Colors */
  --cool-gray-01: #f8f8fa;
  --cool-gray-05: #f6f6f9;
  --cool-gray-10: #edeef2;
  --cool-gray-20: #dddfe5;
  --cool-gray-30: #d2d4dd;
  --cool-gray-40: #c7c9d5;
  --cool-gray-50: #bbbecd;
  --cool-gray-60: #b0b3c4;
  
  /* Semantic Colors */
  --primary-light: #6da5fa;
  --primary-main: #497cff;
  --primary-dark: #3a5cf3;
  
  --secondary-light: #dddfe5;
  --secondary-main: #d2d4dd;
  --secondary-dark: #c7c9d5;
  
  --success-light: #15d66f;
  --success-main: #12b75f;
  --success-dark: #109c51;
  
  --error-light: #f4677a;
  --error-main: #f03851;
  --error-dark: #e4112e;
  
  --warning-light: #ffc933;
  --warning-main: #ffb300;
  --warning-dark: #eba500;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Background Colors */
    --background: #000000;
    --background-secondary: #1c1c1c;
    --background-tertiary: #333333;
    
    /* Dark Mode Text Colors */
    --foreground: #ffffff;
    --foreground-secondary: #e4e4e4;
    --foreground-tertiary: #c7c7c7;
    
    /* Dark Mode Border Colors */
    --border: #5f5f5f;
    --border-secondary: #777777;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
